
/*Gives outer border with title*/
body	{
	background-color:#ADD8E6;

}

#container	{
	min-width:1200px
}

img {
	max-width: 55%;
	height: auto;
	border: 3px solid gray;
	padding:.05em;
}

/*Menu bar format*/	
#menuBar	{
	width:99%;
	height:1300px;
	background-color:#e6e6e6;
	border: 3px solid gray;
	padding:.3em;
	text-align: center;	
	min-width:800px
	
}	
	
/*Sets formatting, info, or link for video box*/
#video	{
	float:left;
	width:43%;
	height:1150px;
	background-color:#FFFFFF;
	border: 3px solid gray;
	font-family:arial;
	padding:.5em;
	color:black;
}
		
/*Sets formatting, info, or link for written review box*/
#written	{
	float:left;
	width:53.2%;
	height:1150px;
	background-color:#FFFFFF;
	border: 3px solid gray;
	font-family:arial;
	padding:.5em;
	color:black;
}

/*Sets formatting, info, or link for welcome box*/
#welcome	{
	margin: auto;
	width:53%;
	height:900px;
	background-color:#FFFFFF;
	border: 3px solid gray;
	font-family:arial;
	padding:.5em;
	color:black;
	max-width:800px
}

#projectsSilver	{
	width:99%;
	height:2200px;
	background-color:#e6e6e6;
	border: 3px solid gray;
	padding:.3em;
	text-align: center;	
	
}

#projects	{
	margin: auto;
	width:70%;
	height:2000px;
	background-color:#FFFFFF;
	border: 3px solid gray;
	font-family:arial;
	padding:.5em;
	color:black;
}

h4 {
	text-align:left;
	
}

/*Centers text*/
h3 {
	text-align:center;
}

h2 {
	text-align:left;
}

/*Unbolds welcome text*/
h1 {
	font-weight: normal;
}

/*Sets format for titles*/
h2 {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, 
	"Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	text-align:center;
	line-height: 15.4px;
}

/*Sets format for menu bar*/	
tr {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	vertical-align:middle;
}

/*Sets format for menu row*/
th {
	padding: 5px;
}

/*Sets format for table*/
table {
	
    border-spacing: 10px;
    border-collapse: separate;
	padding: 30px;
    border-spacing: 10px 0px;
}

/*Increases font size*/
p {
	font-size: 40px
}

/* unvisited link */
a:link {
    color: #282828;
	background-color: #ADD8E6;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

/* visited link */
a:visited {
    color: black;
}

/* selected link */
a:active {
    color: red;
}

/* selected link */
a:hover {
    color: gray;
}
